
  .fade-in-image {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(14, 13, 13);
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

  
  .fade-in-text{
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: rgb(255, 255, 255);
    animation: fadeIn linear 1s;
    -webkit-animation: fadeIn linear 1s;
    -moz-animation: fadeIn linear 1s;
    -o-animation: fadeIn linear 1s;
    -ms-animation: fadeIn linear 1s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }


  /* CONTAINER ELEMENT CSS */


		@import "../font/montserrat.css";



body {
  background-image: url("../img/BGpicL.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: -20px 0 0px;
  }

button {
  border-radius: 40px;
  border: 1px solid #5DB1B9;
  background-color: #5DB1B9;
  color: #FFFFFF;
  font-size: 1.5em;
  font-weight: 700;
  padding: 20px 40px;
  width: 50vw;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin:10px;
}

button:active {
  transform: scale(0.95);

}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #FFFFFF
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: visible;
  width: 75vw;
  height: 75vh;

  }

  
      
form {
    font-family: 'Montserrat', sans-serif;
    background-color: #FFFFFF;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
    border-radius: 20px;
  }

input {
  font-family: 'Montserrat', sans-serif;
  background-color: #ccd5d5;
  border-radius: 25px;
  border: none;
  font-size: 1.5rem;
  font-weight: 300;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 6px;
  height: 3.5vh;
  width: 50vw;
}

select {
  font-family: 'Montserrat', sans-serif;
  background-color: #eee;
  border-radius: 25px;
  font-size: 1rem;
  padding: 10px 15px;
  margin: 6px 0;
  height: 45px;
  width: 50vw;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  padding: 20px 20px;
  font-weight: 700;
  font-size: 2.5rem;
  background: #5DB1B9;
  color: white;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  font-weight: 600;
  font-size: 1rem;
  color: black;
  }

span{
  font-family: 'Montserrat', sans-serif;
  padding: 15px;
  font-weight: 600;
  font-size: 2rem;
  color: black;
}

label {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 700;
}

span {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.loginerror-msg{
  font-family: 'Montserrat', sans-serif;
  background: #ffeeee;
  color: #ba0200;
  font-size: 1rem;
  padding: 5px;
  width: 55vw;
  border-radius: 5px;
  margin: 5px auto;
  }


